<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="UI and UX Developer, Front end Developer, Web Developer, Ranjith Kumar resume, portfolio">
    <meta name="description" content="I am Ranjith kumar Bonagiri and I am a Front-end Developer based on Computech corporations Detroit MI, I have specialized in HTML5, CSS3, JavaScript, Bootstrap, jQuery, Angular js, Kendo UI, C#, ASP.NET, SQL, IBM Web Content Management and Photoshop">
    <meta name="msvalidate.01" content="4752FC3E83D813C246C262F0A647119E" />
    <meta name="google-site-verification" content="4wLWtqSpETZwfM2BXE8FuWpf1FrJr1wu4zVIcfzNGPU" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="https://gist.github.com/vmandic/ac2ecc9c24f6899ee0ec46e4ce444a0e.js"></script>

    @*<environment include="Development">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*</environment>*@
    @*<environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <style>
        .cl-effect-4 a {
            padding: 0 0 10px;
        }

            .cl-effect-4 a::after {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background: #fff;
                content: '';
                opacity: 0;
                -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
                -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
                transition: height 0.3s, opacity 0.3s, transform 0.3s;
                -webkit-transform: translateY(-10px);
                -moz-transform: translateY(-10px);
                transform: translateY(-10px);
            }

            .cl-effect-4 a:hover::after,
            .cl-effect-4 a:focus::after,
            .cl-effect-4 li.active a::after{
                height: 3px;
                opacity: 1;
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                transform: translateY(0px);
            }
    </style>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <div class="">
            <img src="~/images/logo.png" class="navbar-brand"/>
        </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Toggle Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right cl-effect-4" id="menu-item">
                    <li data-menuanchor="home"><a class="menu-items" href="#home">Home</a></li>
                    <li data-menuanchor="about"><a class="menu-items" href="#about">About me</a></li>
                    <li data-menuanchor="skills"><a class="menu-items" href="#skills">Skills</a></li>
                    <li><a class="menu-items" href="~/assets/C_Ranjith_Bonagiri_UI_developer.docx" target="_blank">Resume</a></li>
                    <!-- <li data-menuanchor="portfolio"><a href="#portfolio">Portfolio</a></li> -->
                    <li data-menuanchor="contact"><a class="menu-items" href="#contact">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @RenderBody()


    @*<environment include="Development">*@
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/typed.js/typed.min.js"></script>
    <script src="~/lib/fullPage.js/fullpage.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkzqt4WWz7W1WRm7skjmbB3b-kst2TBFI&sensor=false"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*</environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
