@page
@model IndexModel
@{
    ViewData["Title"] = "Ranjith Kumar - Web Developer Detroit MI, USA.";
}
<div id="portfolio-page">
    <div id="section_1" class="section intro">
        <div class="container-fluid intro-container">
            <div class="intro-content-wrap">
                <div>
                    <h2>Hey, I am  <span class="intro-text"></span></h2>
                    <div class="text-center"> <a href="#contact" class="btn-5a icon-contact"><span>Contact</span></a><a href="#" class="btn-5a icon-resume"><span>Resume</span></a></div>
                </div>

            </div>
        </div>
    </div>
    <div id="section_2" class="section about-me">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <h1 class="title-red">Who is Ranjith<span class="cursiveFont">?</span></h1>
                    <div class="PADDB20PX"><a class="red-color font-125em" href="https://www.linkedin.com/in/rbonagiri/" target="_blank" title="My linkedIn profile"><i class="fa fa-linkedin-square fa-fw"></i>LinkedIn</a>&nbsp;<span class="hidden-xs">|&nbsp;<a title="My twitter profile" class="red-color font-125em" href="https://twitter.com/ranjith2royal" target="_blank"><i class="fa fa-twitter fa-fw"></i>Twitter</a>&nbsp;</span>|&nbsp;<a title="My github account" class="red-color font-125em" href="https://github.com/ranjithbonagiri" target="_blank"><i class="fa fa-github fa-fw"></i>Github</a></div>
                    <ul class="desc-list font-150em lh150em">
                        <li>’12: Graduated <a href="http://jntuh.ac.in/" target="_blank">Jawharlal Nehru Technological university, Hyderabad</a>.</li>
                        <li>’12: Had internship in <a href="http://jntuh.ac.in/" target="_blank">Unibros Technologies, Chennai</a>.</li>
                        <li class="hidden-xs">’13: Travelled Internationally for the first time to pursue Master's. </li>
                        <li>’14: Graduated Master's <a href="http://www.npu.edu/" target="_blank">Northwestern Polytechnic University, California</a>.</li>
                        <li>’15: Joined & Started working at <a href="https://quikorder.com/" target="_blank">QuikOrder, Chicago</a> as front-end developer as contractor.</li>
                        <li>’15: Moved to Detroit & started working at <a href="https://quikorder.com/" target="_blank">DTE Energy, MI</a> as <a href="https://www.ibm.com/support/knowledgecenter/en/SS3JLV_8.0.0/overview/managecontent_main.html" target="_blank">IBM web content management</a> developer.</li>
                        @*<li>'16: Enlisted in <a href="https://www.army.mil/" target="_blank">U.S. Army</a> as <a href="https://en.wikipedia.org/wiki/Specialist_(rank)" target="_blank">specialist (E4)</a> for <a href="https://www.goarmy.com/careers-and-jobs/browse-career-and-job-categories/construction-engineering/petroleum-supply-specialist.html" target="_blank">92F</a> and started working at <a href="https://www.facebook.com/952ndQmCoFrg/" target="_blank">952<sup>nd</sup> Quarter Master Company</a>.</li>*@
                        <li>’17: Started fulltime career at <a href="https://computechcorp.com/" target="_blank">Computech Corporations</a> as Web Developer</li>
                        <li>’18: Lost battle in blackjack for $150.00 at MGM Casino.</li>
                    </ul>
                </div>
                <div class="col-md-3 col-md-offset-1 hidden-xs">
                    <img style="margin-top:25%;" class="img-responsive" src="~/images/ranjith_candid.jpg" alt="Ranjith ui developer" />
                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDiscount">Launch modal</button>*@
                </div>
            </div>
        </div>
    </div>
    <div id="section_3" class="section skills">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <p>I have specialized below skills:</p>
                    <ul class="list-group">
                        <li class="list-group-item">HTML5, CSS3, JavaScript, JSON,JSP and concept Modeling/ Wire framing and Fiddler</li>
                        <li class="list-group-item">#CSS3</li>
                        <li class="list-group-item">#Javascipt - Angular Js, jQuery, Node</li>
                        <li class="list-group-item">#Hybrid app - Ionic, Cordova, Phonegap</li>
                        <li class="list-group-item">#UI/UX - Photoshop</li>
                        <li class="list-group-item">#DB - Firebase No-Sql, My-Sql</li>
                    </ul>
                </div>
                <div class="col-md-4 col-md-offset-2 skill-icons">
                    <i class="fa fa-html5" aria-hidden="true"></i>
                    <i class="fa fa-css3" aria-hidden="true"></i>
                    <i class="fa fa-code" aria-hidden="true"></i>
                </div>
                <div class="col-md-4 col-md-offset-2 skill-icons">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    <i class="fa fa-database" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="section_4" class="section contact">
        <div id="map"></div>
        <div class="contact-content">
            <div class="contact-address">
                <ul>
                    <li><i class="fa fa-map-marker"></i> Canton, MI</li>
                    <li><i class="fa fa-envelope"></i> ranjith6125@gmail.com</li>
                    <li><i class="fa fa-phone"></i> +1(701) 215-1377</li>
                    <li class="social-icons">
                        <a href="https://twitter.com/ranjith2royal" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="https://www.facebook.com/ranjithbonagiri" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a>
                        <a href="https://www.linkedin.com/in/rbonagiri/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        <a href="https://github.com/ranjithbonagiri" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="social">

            </div>
        </div>
    </div>
    @*<div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">
                    Discount offer:
                    <strong>10% off</strong>
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <form id="contactForm">
                    <input type="email" name="email" placeholder="Your email">
                    <textarea name="message" placeholder="Test Message"></textarea>
                    <button type="submit">Send Test</button>
                </form>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a href="https://mdbootstrap.com/products/jquery-ui-kit/" class="btn btn-danger">
                    Get
                    it now
                    <i class="fa fa-diamond ml-1 white-text"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, thanks</a>
            </div>
        </div>
        <!--/.Content-->
    </div>*@
    @*<script>
        $(document).ready(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var model = {
                    "email": $('input[name="email"]').val(),
                    "message": $('textarea[name="message"]').val()
                }
                $.ajax({
                    url: "https://formspree.io/ranjith6125@gmail.com",
                    method: 'POST',
                    dataType: "json",
                    data: model,
                    success: function (obj) {
                        if (obj)
                            alert('Email Sent');
                        else
                            alert('Email Failed');
                    },
                    error: function (err) {
                        alert('Email Failed1');
                    }
                })
            });
        });
    </script>*@
    @*http://redrussak.com/*@
    @*https://www.themuse.com/advice/the-35-best-personal-websites-weve-ever-seen*@

    @*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Learn how to build ASP.NET apps that can run anywhere.
                            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            There are powerful new features in Visual Studio for building modern web apps.
                            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Bring in libraries from NuGet and npm, and automate tasks using Grunt or Gulp.
                            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>*@

    @*<div class="row">
            <div class="col-md-3">
                <h2>Application uses</h2>
                <ul>
                    <li>Sample pages using ASP.NET Core Razor Pages</li>
                    <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>How to</h2>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Overview</h2>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Run &amp; Deploy</h2>
                <ul>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure App Service</a></li>
                </ul>
            </div>
        </div>*@

</div>